In [56]:
import getpass
import pandas as pd
import sqlite3 as lite
import base64

acct_pass = []
while True:
    acct = input(">>> Acct Input: ")
    password1 = getpass.getpass(">>> pass Input: ")
    password2 = getpass.getpass(">>> pass again Input: ")
    if password1 == password2:
        print('輸入完成!')
        
        password = base64.b64encode(password1.encode('utf-8'))  # base64 轉換
        
        acct_pass_dic = {'ACCT':acct,'PASS':password.decode()}
        acct_pass.append(acct_pass_dic)
        aa = pd.DataFrame(acct_pass)
        
        with lite.connect('ACCT.sqlite') as con:
            sql = "delete from ACCOUNT where ACCT = ?"
            con.execute(sql,(acct,))
            con.commit()
            aa.to_sql('ACCOUNT',con = con,if_exists = 'append')
            con.commit()
            #pd.read_sql_query('select * from ACCOUNT',con = con,if_exists = 'replace')
            #con.close()
        #print(acct_pass)
        break;
    else:
        print('密碼輸入不一致!')
        onemore = input('還要繼續嗎?(Y/N)')
        if onemore != 'Y' and onemore != 'y':
            print('Bye Bye!')
            break;

>>> Acct Input: A9088
>>> pass Input: ········
>>> pass again Input: ········
輸入完成!

In [57]:
import sqlite3 as lite
import pandas as pd
with lite.connect('ACCT.sqlite') as con:
    df2 = pd.read_sql_query('select * from ACCOUNT',con = con)

In [58]:
df2

   index      ACCT          PASS
0      0  ODS_LIFE      MVFBWg==
1      0   DM_LIFE      WlhDVg==
2      0     A9088  OTAyMDg4OENj

In [54]:
import sqlite3 as lite
import pandas as pd
with lite.connect('ACCT.sqlite') as con:
    df3 = pd.read_sql_query('select * from ACCOUNT',con = con)

In [55]:
df3

   index      ACCT      PASS
0      0  ODS_LIFE  MVFBWg==
1      0   DM_LIFE  WlhDVg==

## 密碼參考
http://zhuoqiang.me/password-storage-and-python-example.html

In [1]:
import os
from hashlib import sha256
from hmac import HMAC

In [7]:
def encrypt_password(password, salt=None):
    """Hash password on the fly."""
    if salt is None:
        salt = os.urandom(8) # 64 bits.
        print(salt)

    assert 8 == len(salt)
    assert isinstance(salt, str)

    if isinstance(password, unicode):
        password = password.encode('UTF-8')

    assert isinstance(password, str)

    result = password
    for i in xrange(10):
        result = HMAC(result, salt, sha256).digest()

    return salt + result

In [8]:
#a='abcd'
b = encrypt_password('abcd')

b'\xd4\xcfB\x8c\xc9:+\x1e'

AssertionError:

In [3]:
import base64
a= 'abcd'
b = base64.b64encode(a.encode('utf-8'))

In [4]:
b

b'YWJjZA=='

In [20]:
b.decode()

'YWJjZA=='

In [21]:
c = base64.b64decode(b.decode('utf-8'))

In [22]:
c.decode()

'abcd'

In [9]:
type(c)

bytes

In [17]:
bytes.decode(c)
c

b'abcd'

In [40]:
with lite.connect('ACCT.sqlite') as con:
    sql = "DELETE FROM ACCOUNT WHERE ACCT = 'DM_LIFE';"
    con.execute(sql)
    con.commit()

In [41]:
with lite.connect('ACCT.sqlite') as con:
    sql = "DELETE FROM ACCOUNT ;"
    con.execute(sql)
    con.commit()

In [2]:
con.commit()

ProgrammingError: Cannot operate on a closed database.

In [37]:
con

In [35]:
aa = 'ODS_LIFE'
sql = "delete from ACCOUNT where ACCT = ?"

In [40]:
con.execute(sql,(aa,))

In [50]:
con.close()